
:root{
    
    --cor-de-fundo: #F5F5F5;
    --cor-fundo-secundaria: #EAF2FD;
    --cor-fundo-terciaria: #FFFFFF;
    --cor-de-link: #464646;
    --cor-fonte: #464646;
    --cor-btn-repo: #F5F5F5;
    --cor-btn-demo:#2A7AE4;
    --cor-fonte-placeholder: #A2A2A2;
}

html{
   font-size: 16px;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/* TODA Á PAGINA */
.all{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--cor-fonte);
}

/* CABEÇALHO/MENU */
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-weight: 700; 
    margin: 0 10%;
    padding-top: 1% ;
    color: var(--cor-fonte);
    flex-shrink: 1;
}

.menu__list__item__contato{
   display: block;
   font-size: .88rem;
}

header{
    display: flex;
    gap: 0.5rem;
}

.menu__list{
    display: none;
    gap: 1rem;
}

/* APRESENTAÇÃO */
.apresentacao{
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.apresentacao__img{
   min-width: 6.2rem;
   width: auto;
   max-width: 23rem;
   align-self: flex-start;
}
.apresentacao__container{
   gap: 1.5rem;
   color: var(--cor-fonte); 
}

.apresentacao__bio{
    font-size: 1.38rem;
    font-weight: 700;
}

.apresentacao__subsection{
    font-size: .88rem;
    font-weight: 400;
}

.apresentacao__network{
    display: flex;
    justify-content: space-between;
    padding: 0;
    font-size: .88rem;
    font-weight: 600;
}

/* SOBRE MIM */
.sobremim{
    background: var(--cor-fundo-secundaria);
    padding: 1rem;
    flex: 1 1;
}
.sobremim__box{
    margin: 0 5%;
    padding: .7rem;
    width: 22.5rem;
    
}

 .sobremim__title{
    font-weight: 700;
    font-size: 1.38rem;
    color: var(--cor-fonte);
 }

 .sobremim__paragrafo{
    font-weight: 400;
    font-size: 1rem;
    color: var(--cor-fonte);
    font-size: .88rem;
 }

/* SKILLS */
 .skills{
    margin: 0 10%;
    display: flex;
    flex: 1 1;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
 }

 .skills__title{
    font-weight: 700;
    font-size: 2rem;
    color: var(--cor-fonte);
}

 .skills__list{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
 }

 .skills__box{
    background: var(--cor-fundo-terciaria);
    width: 9.8rem;
    height: 7.4rem;
    display: flex;
    align-items: flex-end;
    gap: .5rem;  
    flex-shrink: 1;
    
 }

 .skills__box ul{
   padding-left: 10%;
 }

 .skills__name{
    font-weight: 700;
    font-size: 1rem;
    color: var(--cor-fonte);
 }

/* HOBBIES */
 .hobbies{
    margin: 0 10%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
 }

 .hobbies__title{
    font-weight: 700;
    font-size: 2rem;
    color: var(--cor-fonte);
    
 }

 .hobbies__list{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    flex: 1 1;
    justify-content: center;
 }

 .hobbies__box{
    background: var(--cor-fundo-terciaria);
    width: 9.8rem;
    height: 7.4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: .5rem;  
    flex-shrink: 1;
 }

 .hobbies__box ul{
   padding-left: 10%;
 }

 .hobbies__name{
    font-weight: 700;
    font-size: 1rem;
    color: var(--cor-fonte);
 }

 /* FORMAÇÃO ACADÊMICA */
 .academic{
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: var(--cor-fundo-secundaria);
   gap: 2rem;
   flex: 1 1;
 }

 .academic__title{
   font-size: 1.4rem;
   font-family: 'Raleway';
   font-weight: 700;
   padding-top: 5%;
 }

 .academic__courses__box{
   width: 18.5rem;
   height: auto;
 }

 .academic__courses__box{
   flex-wrap: wrap; 
   margin-bottom: 15%;
}

 .academic__courses__list{
  display: flex;
  flex-direction: column;
  padding-left: 0;
  line-height: 5%;
 }

 .academic__courses__box__img{
   background: var(--cor-fundo-terciaria);
   width: 18.5rem;
 }

 .academic__courses__item__img{
   width: .5%;
   height: auto;
   margin-left: 18%; 
   flex: 1 1;
 }

 .academic__courses__item__title{
   font-family: 'Raleway';
   font-size: 1rem;
   font-weight: 700;
 }

 .academic__courses__item__subtitle{
   font-family: 'Raleway';
   font-size: .9rem;
   font-weight: 500;
   margin: 0;
 }

 /* EXPERIENCIA PROFISSIONAL */
.xp{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 2rem;
   flex: 1 1;
}

.xp :last-child{
   margin-bottom: 1rem;
}

.xp__title__section{
   font-weight: 700;
   font-size: 1.4rem;
   margin-top: 5%;
}

.xp__box{
   display: flex;
   gap: 1rem;
   align-items: center;
   flex-direction: column;
   margin-bottom: 5%;
}

.xp__img{
   width: 21.5rem;
}

.xp__info{
   gap: .5rem;
   width: 21.75rem;
   height: 7rem;
   margin-left: 1rem;
}

.xp__title{
   font-weight: 700;
   font-size: 1rem;
   margin-left: 0;
}

.xp__text{
   font-weight: 500;
   font-size: .9rem;
}

.xp__buttons{
   display: flex;
   gap: .5rem;
   width: 4.8rem;
}

.xp__repo button{
   background: var(--cor-btn-repo);
   padding: 1rem;
   border: 1px solid var(--cor-btn-demo);
   color: #2A7AE4;
}

.xp__demo button{
   background: var(--cor-btn-demo);
   padding: 1rem;
   width: 6rem;
   color: var(--cor-fundo-terciaria);
   border: none;
}


/* CONTATO */

.contato{
   background-color: var(--cor-fundo-secundaria);
   display: flex;
   flex-direction: column;
   padding: 0 10%;
   color: var(--cor-fonte);
}

.contato img{
   display: none;
}

.contato__title{
   margin-bottom: 5%;
   font-family: 'Raleway';
   font-weight: 700;
   font-size: 1.4rem;
}  

.contato__text{
   margin: 0;
}  

#contato__paragraph{
   margin-bottom: 8%;
}

.formcontato__form {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}
.formcontato__input{
   height: 3.5rem;
   font-family: 'Raleway';
   font-weight: 400;
   color: var(--cor-fonte);
   font-size: 1rem;
   border-radius: .3rem;

}

.formcontato__textarea{
   font-family: 'Raleway';
   height: 8.4rem;
   font-size: 1rem;
   font-weight: 400;
   color: var(--cor-fonte);
   resize: none;
   border-radius: .3rem;
   
} 

.formcontato__botao{
   margin-bottom: 5%;
   height: 2.5rem;
   width: 9.5rem;
   background: var(--cor-btn-demo);
   color: white;
   border: none;

}

.footer{
   width: 100%;
   background: var(--cor-fundo-terciaria);
   height: 6.4rem;
   color: var(--cor-fonte);
   font-weight: 500;
}

.footer__box{
   display: flex;
   height: 2.4rem;
   flex-direction: column;
   align-items: center;
   padding: 2rem;
}

.footer__title{
   margin: 0;
}

.footer__text{
   margin: 0;
}

@media (min-width: 768px) {
   
   .apresentacao{
      display: flex;
      flex-direction: row-reverse;
   }

   .apresentacao__img{
      width: 9.2rem;
   }

   .sobremim__box{
      width: 40rem;
   }
   
   .skills__box{
      flex-grow: 1;
   }

   .hobbies__box{
      flex-grow: 1;
   }

   .xp__img{
      width: 44rem;
   }

   .xp__info{
      align-self: baseline;
      margin-left: 0;
   }

   .contato{
      padding: 0 5%;
   }
}

@media (min-width: 844px) {

   .menu{
      justify-content: space-between;
   }

   .menu__list{
      display: flex;
   }

   .menu__list__item__contato{
      display: none;
   }

   .apresentacao__img{
      width: 23rem;
   }

   .apresentacao__bio{
      font-size: 3.3rem;

   }

   .apresentacao__subsection{
      font-size: 1.4rem;
      
   }

   .apresentacao__network{
      justify-content:left;
   }

   .apresentacao__network__item{
      margin-right: 6.5%;
   }

   .sobremim{
      padding-left: 5%;
   }

   .sobremim__box{
      width: 46.94rem;
   }

   .sobremim__title{
      font-size: 2rem;
   }

   .sobremim__paragrafo{
      font-size: 1rem;
   }

   .xp__info{
      margin: 0;
   }
   #xp__box__position{
      display: flex;
      flex-direction: row-reverse;
   }

   .xp__box{
      display: flex;
      gap: 1rem;
      align-items: center;
      flex-direction: row;
   }

   .xp__info{
      margin-top: 10%;
   }
   
   .contato{
      padding: 0 10%;
   }
}